.menu {
    background-color: #f8f5f2;
    padding-bottom: 1rem;
    font-family: 'Raleway';
    border-style: solid;
    margin-top: 1.5rem;
    border-image: linear-gradient(to right, #eacbd2, #dfaeb4, #dd9ac2, #b486ab, #82667f) 1;
}

.menu p {
    font-size: 28px;
    font-family: 'Raleway';
    border-bottom: dashed;
    margin: 16px;
    font-weight: bold;
}

.menu a {
    font-family: 'Raleway';
    font-size: 18px;
}

.batter-title {
    height: 75px;
    font-size: 48px;
    margin: 26px;
    text-align: center;
    background-color: #743837;
    color: white;
    border-radius: 1rem;
    font-weight: bolder;
}

@media only screen and (max-width: 767px) {
    .batter-title {
        height: 120px;
    }
}