.menu {
    background-color: #f8f5f2;
    border-radius: 1rem;
}

.menu p {
    font-size: 28px;
    border-bottom: dashed;
    margin: 16px;
    font-weight: bold;
}

.menu a {
    font-size: 18px;
}

.batter-title {
    height: 75px;
    font-size: 48px;
    margin: 26px;
    text-align: center;
    background-color: #743837;
    color: white;
    border-radius: 1rem;
}