.about-info {
    margin-top: 6rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    background-color: #f8f5f2;
    border-style: solid;
    border-image: linear-gradient(to right, #eacbd2, #dfaeb4, #dd9ac2, #b486ab, #82667f) 1;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 425px;
    object-fit: cover;
    padding-top: 5rem;
    border-radius: 67% 47% 77% 33% / 34% 79% 30% 70%;
}

@media only screen and (max-width: 768px) {
    .profile-image {
        display: block;
        margin: 0 auto;
        width: 325px;
        object-fit: cover;
        padding-top: 5rem;
        border-radius: 67% 47% 77% 33% / 34% 79% 30% 70%;
    }
}