.active {
    font-weight: bold;
}

.logo img {
    margin-right: 1.5rem;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Raleway'
}

.navbar-brand p {
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
}

.nav-socials i {
    padding-right: 10px;
    font-size: 25px;
    color: #5c374c;
}

.nav-link {
    font-size: 22px;
}