.active {
    font-weight: bold;
}

.logo img {
    margin-right: 1.5rem;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand p {
    color: #09516c;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
}

.nav-bar {
    background: white;
}

.nav-socials {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
}

.nav-socials i {
    /* display: flex; */
    padding-right: 10px;
    font-size: 25px;
    color: #5c374c;
}