:root {
  --award-font: 'Handlee', cursive;
}

.award-history {
  margin: auto;
  margin-top: 3rem;
  background-color: #f8f5f2;
  border-image: linear-gradient(
      to right,
      #eacbd2,
      #dfaeb4,
      #dd9ac2,
      #b486ab,
      #82667f
    )
    1;
  border-style: solid;
  text-align: center;

  max-width: 75%;
}

.award-history h1 {
  font-family: var(--award-font);
  margin-top: 1rem;
}

.award-history p {
  font-size: 18px;
}

.timeline-container {
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.timeline-container img {
  max-width: 75%;
  border-radius: 1rem;
  margin: auto;
  display: block;
}

.vertical-timeline-element-title {
  text-align: center;
  padding-bottom: 1rem;
  font-family: var(--award-font);
  font-weight: bold;
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background-image: linear-gradient(
    180deg,
    #dd9ac2 0%,
    #b486ab 35%,
    #82667f 100%
  );
}

@media (max-width: 768px) {
  .award-history {
    max-width: 100%;
  }

  .timeline-container img {
    max-width: 100%;
  }
}
